.App{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
input{
  width: 25vw;
  height: 5vh;
  font-size: 25px;
}
label{
  font-size: 25px;
  padding: 2vh 0 .5vh 0;
}

.submit-button{
  width: 26vw;
  height: 5vh;
  margin: 2vh;
  background-color: #73c7c7;
  border-radius: 5px;
  font-size: 17px;
  border: 2px solid gray;
}
/*-----Food List -----*/
.food-list{
  display: flex;
  flex-direction: row;

}


/*-----Food Card -----*/

.food-card{
  width: 20vw;
  border: 8px solid gray;
  border-radius: 15px;
  background-color: #73c7c7;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1vw;
}
.food-card h3{
  margin-top: 10px;
}
.food-card button{
  width:4vw ;
  height: 20px;
  font-size: 11px;
  align-items: center;
  align-content: center;
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 0 5px;
}

.edit{
  background-color: rgb(26, 110, 26);
  color: white;
}
.delete{
  background-color: rgb(128, 39, 39);
  color: white;
}
.edit-options{
  margin-top: 1vh;
  display: none;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.edit-options input{
  width: 10vw;
  height: 2vh;
  font-size: 15px;
  margin-top: .5vh;
}
.update{
  width: 5vw !important;
  margin-top: 1vh !important;
  background-color: goldenrod;
}